/* Custom base */

.loader {
  background-color: #FFE5F2;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  cursor: wait;
}

.loadingImg {
  height: 30vh;
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: loaderrotation 3s infinite linear;
}

@keyframes loaderrotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Font-face declaration*/

@font-face {
  font-family: StreetvertisingBold;
  src: url(fonts/StreetvertisingBold.ttf);
}
@font-face {
  font-family: StreetvertisingMedium;
  src: url(fonts/StreetvertisingMedium.ttf);
}
@font-face {
  font-family: StreetvertisingLight;
  src: url(fonts/StreetvertisingLight.ttf);
}
html, body {
  width: 99.9vw;
  height: 99.9vh;
  background: #000E10;
  overflow: hidden;
}
canvas {
  width: 100vw;
  height: 84vh;
  margin-top: 15vh;
  display: block;
  vertical-align: bottom;
}
.nopadding {
  padding: 0!important;
  margin: 0 !important;
}

/*Title and name*/

.name {
  z-index: 100;
  position: absolute;
  margin: 5vh;
  height: 10vh;
}
h1 {
  font-family: "StreetvertisingBold";
  letter-spacing: 10px;
  */ position: absolute;
  font-weight: bolder;
  top: 10px;
  left: 10px;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 36px;
  color: #E6F4F6;
}

/* Custom home page center */


/* The circle... */

.circle {
  text-align: center;
  top: 25vh;
  position: absolute;
  z-index: 100;
  background-color: #038A9D;
  border-radius: 50%;
  background-size: 100%;
}

/* ...And inside it */

.parent {
  vertical-align: middle;
  /* vertical alignment of the inline element */
  display: table;
  table-layout: fixed;
}
.child {
  display: table-cell !important;
  vertical-align: middle;
  text-align: center;
  color: #E6F4F6;
  font-size: 40px;
  float: none;
}
.fa {
  font-size: 70px;
}
i {
  transform: rotate(-46deg);
}
.left, .right {
  font-family: "StreetvertisingMedium";
  font-size: 28px;
  font-weight: lighter;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.right:hover, .left:hover {
  color: #000E10;
  text-decoration: overline;
}

/* Animation of the arrow-location when click on left and right */

.rotateleft {
  animation: rotateleft 1s linear;
  animation-fill-mode: forwards;
}
@keyframes rotateleft {
  0% {
    transform: rotate(-46deg);
  }
  100% {
    transform: rotate(-136deg);
  }
}
.rotateright {
  animation: rotateright 1s linear;
  animation-fill-mode: forwards;
}
@keyframes rotateright {
  0% {
    transform: rotate(-46deg);
  }
  100% {
    transform: rotate(44deg);
  }
}

/* Custom cv page center */

.cv {
  position: absolute;
  width: 100vw;
  height: 101vh;
  z-index: 1000;
  margin-left: -100vw;
  background-color: #000E10;
  padding: 15px;
  padding-right: 45px;
}
.name2 {
  margin: 5vh;
  height: 10vh;
}
.center {
  margin-top: 15vh;
}

/* 1st block "Who am i ?" */

h2 {
  color: #E6F4F6;
  font-family: "StreetvertisingBold";
  font-size: 22px;
  position: relative;
  top: 0;
  margin: auto;
  text-align: center;
  font-weight: bolder;
}
.julietteImg {
  border-right: 1px solid #E6F4F6;
  background-image: url('../images/juliette_cougnoux.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  border-radius: 20;
}
.description, .shuffleText, .citation, .description2 {
  padding: 30px;
  padding-top: 10%;
  padding-left: 10%;
  text-align: justify;
  color: #E6F4F6;
  font-family: sans-serif;
  font-size: 14px;
}
.shuffleText, .citation {
  color: #038A9D;
  font-size: 20px;
  text-align: center;
  padding-top: 5%;
}
.shuffleText {
  height: 10vh;
}
.citation {
  margin-right: 30px;
  text-align: justify;
  position: relative;
  padding: 0;
  margin-top: 5%;
  margin-left: 60px;
  border: none;
}
blockquote:before {
  color: #82C5CF;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  content: "\201C";
}
blockquote footer {
  text-align: right;
  color: #82C5CF;
}
.description2 {
  padding-top: 0;
}

/* 2nd block "Skills" */

.skills {
  width:100vw;
  background-color: #E6F4F6;
  margin-bottom: 5%;
  margin-left: -2%;
}
.skills h2 {
  margin-top: 5%;
  color : #000E10;
}
.skill {
  text-align: center;
}

/* Custom projets page center */

.projets {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  margin-left: 100vw;
  background-color: #000E10;
}

/* Class on click */

.active {
  transition: 2s;
  margin-left: 0;
  width: 100vw;
}
.overflow {
  overflow-y: auto;
}

/* particles.js container */

#particles-js {
  width: 100vw;
  height: 85vh;
  background-color: #000E10;
  background-image: url('');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 10;
}

/* Responsive: Portrait tablets and up */

@media screen and (max-width: 768px) {
  html, body {
    width: 100vw;
    height: 100vh;
    background: #000E10;
    overflow-y: scroll;
  }
  canvas {
    overflow-y: scroll;
  }
  .circle {
    top: 40vh;
  }
  .child, i {
    font-size: 40px;
  }
  .name {
    height: 20vh;
  }
}

/* Responsive: LG screen and 4K */

@media screen and (min-width: 1920px) {
  .circle {
    top: 18vh;
  }
}
