@font-face {
    font-family: aubrey;
    src: url(AUBREY1__.TTF);
}

body {
  padding: 0;
}

/* Everything but the circle gets side spacing for mobile first views */

.header, .footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */

.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */

.footer {
  height: 5vh;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
  margin: 30px 0;
}
.circle {
  position: absolute;
  top: 20;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 85vh;
  width: 85vh;
  background-color: #038A9D;
  border-radius: 50%;
}
.circle .btn {
  font-size: 21px;
  padding: 14px 24px;
}
h1, h2, .cv, .projets,.left, .right{
  font-family: "aubrey";
  letter-spacing: 10px;
  position: absolute;
  font-weight: bolder;
  top: 10px;
  left: 10px;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size:30px;
  color:#E6F4F6;
}
.left, .right {
  top: 235px;
  font-size:60px;
  font-weight: lighter;
}
h2{
  top: 50px;
}
.cv, .projets {
  letter-spacing: 5px;
  top: 260px;
  font-size: 18px;
  color:#E6F4F6;
  left:55px;
  right:50px;
}
.cv, .left {
  text-align: left;
}
.projets, .right {
  text-align: right;
}
/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{
	width:99.9%;
	height:99.9%;
	background:#000E10;
}

html{
  -webkit-tap-highlight-color: red;
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #000E10;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* Responsive: Portrait tablets and up */

@media screen and (max-width: 768px) {
  .container {
    max-width: 730px;
  }
  /* Remove the padding we set earlier */
  .header, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the circle for visual effect */
  .circle {
    width: 90vw;
    height: 90vw;
  }
}
