/* Declaration of font-face */

@font-face {
  font-family: StreetvertisingBold;
  src: url(StreetvertisingBold.ttf);
}
@font-face {
  font-family: StreetvertisingMedium;
  src: url(StreetvertisingMedium.ttf);
}

/* Everything gets side spacing for mobile first views */

.header, .footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */

.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */

.footer {
  height: 5vh;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Custom page center */
.nopadding {
  padding: 0!important;
  margin:0 !important;
}
/*Title and name*/
.name {
  position: relative;
  margin: 5vh;
  height: 10vh;
}
h1, h2 {
  font-family: "StreetvertisingBold";
  letter-spacing: 10px;
  position: absolute;
  font-weight: bolder;
  top: 10px;
  left: 10px;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 36px;
  color: #E6F4F6;
}
/* the Circle */
.circle {
  text-align: center;
  top: 25vh;
  position: absolute;
  z-index: 100;
  background-color: #038A9D;
  border-radius: 50%;
  background-size: 100%;
}
/*and inside it*/
.parent {
  width:100%
  vertical-align: middle;    /* vertical alignment of the inline element */
  display: table;
  table-layout: fixed;
}
.child {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color:#E6F4F6;
  font-size: 40px;
  float: none;
}
.separation{
	clear: both;
	position: absolute;
	height: 75vh;
	width : 5px;
	background: #E6F4F6;
	}
.left, .right {
  font-family: "StreetvertisingMedium";
  font-size: 28px;
  font-weight: lighter;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
/*animation for the div parent when click on it*/
.rotateleft{
  animation:rotateleft 2s linear;
}
@keyframes rotateleft{
  0%{  transform: rotate(0deg);}
  100%{  transform: rotate(-360deg);}
}
.rotateright{
  animation:rotateright 2s linear;
}
@keyframes rotateright{
  0%{  transform: rotate(0deg);}
  100%{  transform: rotate(360deg);}
}
/* ---- particles-js ---- */

html, body {
  width: 99.9%;
  height: 80vh;
  background: #000E10;
}
html {
  -webkit-tap-highlight-color: red;
}
body {
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #000E10;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* Responsive: Portrait tablets and up */

@media screen and (max-width: 768px) {
  .container {
    max-width: 730px;
  }
  /* Remove the padding we set earlier */
  .header, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  .circle {
    top: 40vh;
  }
  .name {
    height: 20vh;
  }
  html, body {
    width: 99.9%;
    height: 80vh;
    background: #000E10;
  }
}
@media screen and (min-width: 1920px) {
  .circle {
    top: 15vh;
  }
}
